
/*
    estilos generales del proyecto web
*/
/*Navbar*/
#logo #nombre-pagina{
    padding-top: 0%;
    color: white;
    background: rgb(48, 48, 119);
    padding: 15px;
    margin: 0px;
    height: 30px;
    width: 100%;
}

#navbar{
    text-align: center;
    display: flex;
    color: black;
    background-color: rgb(216, 230, 247); 
    font-size: 17px;
    padding: 15px;
    margin: 0px;
    height: 30px;
    width: 100%;
}

ul{
  list-style-type: none
}

a{
    margin: 30px;
}

a:hover{
  background: rgb(48, 48, 119);
  padding: 10px;
  color: white;
}
/*Navbar*/

/*contenido*/
#contenido{
    background-color: rgb(146, 203, 250);
    padding: 25px;
    text-align: center;
}

#tarjetas{
    display: flex;

}

.tarjeta{
    flex-direction:column;
    justify-content:space-between;
    width:300px;
    height:400px;
    margin: 10px;
    border: 1px solid lightgray;
    background-color: rgb(216, 230, 247);
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
}

#formulario{
  text-align: center;
}

#submit{
    
}

  footer{
    padding: 20px;
    margin-bottom: 0%;
  }
/*contenido*/


@media screen and (max-width: 576px) {
  #navbar{
    display: block;
    height: 110px;
  }

  #tarjetas{
    display: block;
    justify-content:space-between;
  } 

  .tarjeta{
    height: 350px;
  }

  }
  
